@model TicTacToe.Models.ResetPasswordEmailModel
@{
    ViewData["Title"] = "ConfirmResetPasswordRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Desktop{<h2>@Localizer["DesktopTitle"]</h2>}
@section Mobile {<h2>@Localizer["MobileTitle"]</h2>}
<h1>@Localizer["You have requested to reset your password, an email has been sent to {0}, please click on the provided link to continue.", Model.Email]</h1>