@model TicTacToe.Models.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Reset your Password</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div class="text-center">
                    <form asp-controller="Account" asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="Token" />
                        <div asp-validation-summary="All"></div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input id="email" asp-for="UserName" placeholder="email address" class="form-control" type="email">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                            <input id="password" asp-for="Password" placeholder="Password" class="form-control" type="password">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                            <input id="confirmpassword" asp-for="ConfirmPassword" placeholder="Confirm your Password" class="form-control" type="password">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <input name="submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>