@{
    ViewData["Title"] = "Secured Page";
}
@section Desktop {<h2>@Localizer["DesktopTitle"]</h2>}
@section Mobile {<h2>@Localizer["MobileTitle"]</h2>}
<div class="row">
    <div class="col-lg-12">
        <h2>Tic-Tac-Toe @ViewBag.SecureWord</h2>
    </div>
</div>