@model TicTacToe.Models.ResetPasswordEmailModel
@{
    ViewData["Title"] = "View";
    Layout = "_LayoutEmail";
}
<h1>Welcome @Model.DisplayName</h1>
You have requested a password reset, please click <a href="@Model.ActionUrl">here</a> to continue.